<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: meta_link" />
    <title>ClassNotFound - Home</title>
</head>
<body>
    <nav th:replace="header :: header(page='home')"></nav>
    
    <h2>Popular Questions Today</h2>

    <ul>
        <li th:each="question : ${questions}" th:text="${question.subject}"></li>
    </ul>

    <a th:href="@{/q/new}">Ask a question yourself.</a>

    <thymeleaf th:replace="header :: script" />
</body>
</html>
