<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe Vraag</title>
</head>
<body>
    <!-- TODO: fix the action for readability; Thymeleaf should be able to help with this. -->
    <form action="../q" method="POST">
        <label for="subject">Onderwerp</label>
        <input id="subject" type="text" name="subject">
        <label for="body">Bericht</label>
        <textarea id="body" name="body"></textarea>
        <button type="submit">Verstuur</button>
    </form>
</body>
</html>
