<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: meta_link" />
    <title>Nieuwe Vraag</title>
</head>
<body>
    <nav th:replace="header :: header"></nav>

    <form th:action="@{/q}" method="POST">
        <label for="subject">Onderwerp</label>
        <input id="subject" type="text" name="subject">
        <label for="body">Bericht</label>
        <textarea id="body" name="body"></textarea>
        <button type="submit">Verstuur</button>
    </form>
</body>
</html>
