<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="header :: meta_link" />
    <title>Vraag Details</title>
</head>
<body>
    <nav th:replace="header :: header"></nav>

    <h1 th:text="${question.subject}"></h1>
    <h3>Score: <span th:text="${question.score}"></span></h3>
    <p th:text="${question.body}"></p>
    <h6><span th:text="${question.timestamp}"></span></h6>

    <thymeleaf th:replace="header :: script" />
</body>
</html>
