h6.timestamp {
    text-align: right;
}

th.scoreColumn, td.scoreColumn {
    width: 6em;
    text-align: center;
}

td > a {
    color: darkblue;
    text-decoration: none;
    cursor: pointer;
}

td > a:hover {
    text-decoration: none;
}

td > a:not(.subject) {
    font-weight: bold;
}

td > a.down:hover, td > a.down:active {
    color: red;
}

td > a.up:hover, td > a.up:active {
    color: green;
}

/* Removing Bootstrap header row hover effect. */
.table-hover tbody tr:hover th {
    background-color: white;
}
